.page-header {
    background-color: #bbdef4;
    background-image: url('../../img/bg-image.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 640px;

    margin-bottom: 40px;

    @media (min-width: 780px) {
        margin-bottom: 60px;
    }

    @media (min-width: 1200px) {
        min-height: 800px;
        background-image: url('../../img/bg-image-desktop.jpg');
        margin-bottom: 120px;
    }
}